<clr-header>
    <div class="branding">
        <a href="https://www.cogarius.com"> <span class="title"> <img width="30" alt="App Logo" src="../../../assets/cogarius_logo_color.png" />
                Stackarius
            </span></a>
    </div>

    <div class="header-nav" [clr-nav-level]="1">
        <a routerLink="notes" routerLinkActive="active" class="nav-link nav-text">
            my notes
        </a>
        <a routerLink="wall" routerLinkActive="active" class="nav-link nav-text">
            wall
        </a>
        <a routerLink="contacts" routerLinkActive="active" class="nav-link nav-text">
            contacts
        </a>
    </div>

    <div class="header-actions" *ngIf="authenticated$ | async">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a clrDropdownItem (click)="cleanAllIndexes()"><clr-icon shape="warning-standard"></clr-icon> (unsafe) clean all indexes</a>
                <a clrDropdownItem (click)="signOut()"> Log out ({{userId$ | async}})</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>

</clr-header>