<div class="section-title">
  Notes
</div>
<div>
    Add, update, remove and view notes that only you can read. To add a contnote click the button below.
</div>


<button type="button" class="btn btn-icon" (click)="newNote()">
  <clr-icon shape="plus"></clr-icon> add a private note
</button>
<span *ngIf="isPending$ | async" class="spinner spinner-inline">
    Loading...
</span>


<div class=" clr-row  clr-align-self-center clr-justify-content-center" *ngFor="let note of mynotes$ | async as note">
    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {{note.updated}}
    </div> -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card clickable">
            <div class="card-header note-title">
                {{note.title}}
            </div>
            <div class="card-block">
                <div class="card-text">
                    <div class="clr-row">
                        <div class="clr-col">
                            {{note.content}}
                        </div>
                        <div class="clr-col-3">
                            <div class="clr-row">
                                <div class="clr-col  note-date">
                                    {{note.updated | date: 'shortTime'}}

                                </div>
                                <div class="clr-col  note-date">
                                    {{note.updated | date: 'shortDate'}}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="card-footer">
                <a (click)="editNote(note)" class="btn btn-sm btn-link">Edit</a>
                <a (click)="displayConfirmDeletion(note)" class="btn btn-sm btn-link">Delete</a>
            </div>
        </div>
    </div>
</div>

<app-confirm-delete></app-confirm-delete>
<!--
<button (click)="getAllFiles()" class="btn btn-outline">list all files</button>-->